/bench
/build
/cloudformation
/debug
/dist/svg
/docs
/node_modules
/src
/test

.babelrc
.editorconfig
.eslintrc
.gitignore
.travis.yml
CHANGELOG.md
circle.yml
index.js
ISSUE_TEMPLATE.md
package-lock.json
rollup.config.js
yarn.lock